<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.topmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TopMovies">
        <activity
            android:name=".visual.ChangePassword_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TopMovies_NoActionBar" />
        <activity
            android:name=".visual.ChangeProfile_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TopMovies_NoActionBar" />
        <activity
            android:name=".visual.MovieTrailer_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".visual.PDFViewer_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TopMovies_NoActionBar" />
        <activity
            android:name=".visual.TicketsBought_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TopMovies_NoActionBar" />
        <activity
            android:name=".visual.Checkout_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visual.Booking_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visual.MovieDetails_Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".visual.HomeScreen_Activity" />
        </activity>
        <activity
            android:name=".visual.SignIn_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TopMovies_NoActionBar" />
        <activity
            android:name=".visual.SignUp_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TopMovies_NoActionBar" />
        <activity
            android:name=".visual.HomeScreen_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TopMovies_NoActionBar" />
        <activity
            android:name=".visual.LoadingScreen_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TopMovies_NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>